html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, cite, em, font, img, sup, ol, ul, li, fieldset, form, label, input {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal; }

html {
  height: 100%; }

body {
  position: relative;
  min-width: 320px;
  font-family: "adelle-sans", Georgia, serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.4em;
  text-align: center;
  color: #fcfbf1;
  background-color: #802c13;
  -webkit-text-size-adjust: none;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h2 {
  font-size: 1.25em;
  margin-bottom: 0.25em;
  color: #fcfbf1; }

h3 {
  color: #fdea5d; }

p {
  padding-bottom: 1em; }

a {
  color: #c8e5e8;
  transition: color 0.15s ease; }
  a:hover {
    color: #95ccca; }

::selection {
  background: #f0cf28; }

.graphic {
  height: 720px;
  margin-top: -350px;
  background: url("../images/circles.svg") center center no-repeat transparent; }

.teaser {
  position: relative;
  top: -250px; }
  .teaser ul {
    padding-top: 1em;
    font-size: 1.5em; }
    .teaser ul li {
      display: inline-block; }
      .teaser ul li a {
        margin: 0 0.5em; }
  .teaser p {
    display: block;
    margin-top: 2em; }
    .teaser p a {
      font-size: 0.8em;
      color: #bb481d;
      text-decoration: none; }
      .teaser p a:hover {
        color: #dd8442; }
